@page "/recharge"
@model CarRentalPlatform.Pages.CustomerPage.Profile.RechargeMoney

@{
    Layout = "Shared/_LayoutCustomer";
    ViewData["Title"] = "Recharge money";
    var message = TempData["Message"];
}

<div class="container mt-4">
    <h1>@ViewData["Title"]</h1>

    @if (message != null)
    {
        <div>
            <span class="alert alert-success">@message</span>
        </div>
    }

    @if (!ModelState.IsValid)
    {
        <div class="alert alert-danger">
            <ul>
                @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
                {
                    <li>@error.ErrorMessage</li>
                }
            </ul>
        </div>
    }

    <form method="post">
        <div class="form-group">
            <label for="money">Money (Your money to charge must be bigger than 0 and samller than 1.000.000.000đ):</label>
            <input type="number" class="form-control" style="width: 300px;" id="money" name="money">
        </div>
        <button type="submit" class="btn btn-secondary" asp-page-handler="RechargeMoney">Recharge</button>
    </form>
</div>