@page
@model CarRentalPlatform.Pages.ShoppingCartModel
@{
    ViewData["Title"] = "Shopping Cart";
}
<h1>Shopping Cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>Car</th>
            <th>Start Date</th>
            <th>Account name</th>
            <th>Driver Licence</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Car.Model</td>
                <td>@item.StartDate</td>
                <td>@item.AccountName</td>
                <td>@item.DriverLicense</td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="">Proceed to Checkout</a>
